/*****General Styles *****/
.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.medium-bold-font {
  font-weight: 500;
}

.medium-font {
  font-weight: 400;
}

.very-thin-font {
  font-weight: 100;
}

/***** Styles *****/

html {
  height: 100vh;
  width: 100%;
}

p {
  margin: 13px 0;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: #d8a7d8;
  color: white;
  font-family: "Rubik", serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.post {
  height: 98%;
  position: relative;
  width: 295px;
  flex-direction: column;
  background: black;
  border-radius: 8px;
}

.profile-information {
  display: flex;
  gap: 10%;
  width: 60%;
}

.author {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.content {
  height: 67%;
  width: 100%;
  overflow: hidden;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.username {
  margin-bottom: 0px;
  margin-top: 16px;
}

.location {
  margin-top: 7px;
  margin-bottom: 16px;
}

.see-more {
  font-size: 30px;
}

.img-post {
  height: 100%;
  height: 130%;
}

.social {
  width: 90%;
  margin-top: 10px;
}

.interact {
  justify-content: space-between;
}

.icons {
  font-size: 21px;
}

.social-icons {
  display: flex;
  gap: 15%;
}

.spotlight {
  font-weight: 600;
}

.post-age,
.comment-link, .reply-button {
  color: #acacac;
}

.comment-link {
  margin-bottom: 7px;
  font-size: 15px;
}

.post-age {
  margin-top: 0;
  font-size: 14px;
}

.comments, .likes {
  background-color: aqua;
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  border-radius: 8px;
}

.comment-header, .likes-header {
  gap: 25%;
  padding: 14px 0px;
  border-bottom: 1px gray solid;
}

.close-comments {
  padding: 7px;
}

.comment-container{
  padding: 10px 12px 0 12px;
  overflow-y: overlay;
  scrollbar-width: none;
}

.user {
  margin-top: 0;
  margin-bottom: 7px;
}

.comment {
  justify-content: space-between;
}

.comment-information {
  width: 60%;
}


.comment-text {
  margin-top: 9px;
  margin-bottom: 5px;
}

.reply-button {
  font-size: 15px;
  margin-top: 0;

}

.reply-comment-information {
  width: 50%;
}

.reply {
  justify-content: flex-end;
  gap: 5%;
}

.emojis{
  list-style-type: none;
  padding: 0;
  justify-content: space-evenly;
  font-size: 21px;
  margin: 0px 0px;
  padding: 10px 0px;
  border-top: 1px gray solid;
}

.new-comment {
  margin: 0px 0px 10px 0px;
}

.comment-input {
  background-color: transparent;
  border: 1px gray solid;
  border-radius: 17px;
  color: white;
  padding: 5px 11px;
}

.write-comment {
  gap: 4%;
}

